<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOPlatformPowerProfile</key>
	<dict>
		<key>AutoPowerOff</key>
		<true/>
		<key>BoostLimit</key>
		<integer>0</integer>
		<key>CPUFloor</key>
		<integer>500</integer>
		<key>DNDWhileDisplaySleeps</key>
		<false/>
		<key>DarkWakeServices</key>
		<dict>
			<key>DarkWakeBackgroundTasks</key>
			<integer>1</integer>
			<key>SleepServices</key>
			<integer>7</integer>
			<key>SleepServicesModes</key>
			<dict>
				<key>ModeA</key>
				<dict>
					<key>BaseIntervals</key>
					<dict>
						<key>AC</key>
						<dict>
							<key>BaseSleepInterval</key>
							<integer>3600</integer>
							<key>BaseWakeCapInterval</key>
							<integer>86400</integer>
						</dict>
						<key>Battery</key>
						<dict>
							<key>BaseSleepInterval</key>
							<integer>3600</integer>
							<key>BaseWakeCapInterval</key>
							<integer>180</integer>
						</dict>
					</dict>
					<key>BatteryFloor</key>
					<integer>0</integer>
					<key>Expiration</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>ErPDelay</key>
		<integer>28800</integer>
		<key>FrequencyVectors</key>
		<array>
			<data>
			AgAAAAUAAAABAAAAAAAAAHgeAAAAAAAAyAAAAAAAAAAAZOgDAAAA
			AAAAAEvQBwAAAAAAAAAyuAsAAAAAAAAAGaAPAAAAAAAAAAD/////
			//8PAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEAAAABAAAAAAAA
			AKwNAAAAAAAAyAAAAAAAAAABZOgDAAAAAAAAAUvQBwAAAAAAAAEy
			uAsAAAAAAAAAMqAPAAAAAAAAABn///////8PAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAABQAAAABAAAAAAAAAKAPAAAAAAAAyAAAAAAA
			AAACZPQBAAAAAAAAAUvoAwAAAAAAAAEy0AcAAAAAAAABGbgLAAAA
			AAAAADKgDwAAAAAAAAAZ////////DwAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYA
			AAABAAAAAAAAAJQRAAAAAAAAyAAAAAAAAAADZPQBAAAAAAAAAzLo
			AwAAAAAAAAMZ0AcAAAAAAAABMrgLAAAAAAAAADKgDwAAAAAAAAAZ
			////////DwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAABgAAAABAAAAAAAAAJQRAAAA
			AAAAyAAAAAAAAAAEZOgDAAAAAAAABBnQBwAAAAAAAAEZuAsAAAAA
			AAAAMqAPAAAAAAAAABn///////8PAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAGQAAAADAAAAAAAAAKCGAQAAAAAAyAAAAAAAAAAFZOgD
			AAAAAAAABBnQBwAAAAAAAAEZuAsAAAAAAAAAMqAPAAAAAAAAABn/
			//////8PAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAA////////DwAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEJBQ0tHUk9V
			TkQAAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACSUkVB
			TFRJTUVfU0hPUlQAAAEFAAAZABkAZABkAGQAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AABLRVJORUwAAAAAAAAAAAAAAAVkAJYAyAAsASwBLAEAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAklRIUlVfVElFUjAAAAAAAAAABWQAZABkAGQAZABkAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAACAVEhSVV9USUVSMgAAAAAAAAACZADIAMgAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAJJUSFJVX1RJRVIzAAAAAAAAAAJkAMgA
			yAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAklRIUlVfVElFUjQAAAAAAAAA
			AcgAyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACSVEhSVV9USUVSNQAA
			AAAAAAAAZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJIAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaGFyZC1y
			dC1ucwAAAAAAAAAAAAAACT0AAAAAAAAAAAAAAAAAdXRpbGl0eS10
			bHZsAAAAAAAAAAAUAAAAAAAAAAAAAAAAAAAAbm9uLWZvY2FsLXRs
			dmwAAAAAAACWAAAAAAAAAAAAAAAAAAAAdWJwYwAAAAAAAAAAAAAA
			AAEAAABvZmYAAAAAAAAAAAAAAAAAaHdwAAAAAAAAAAAAAAAAAAEA
			AABvbgAAAAAAAAAAAAAAAAAAZXBwAAAAAAAAAAAAAAAAAAAAAADA
			AAAAAAAAAAAAAAAAAAAAaW9jc19lbmdhZ2UAAAAAAAAAAAAAahgA
			AAAAAAAAAAAAAAAAaW9jc19kaXNlbmdhZ2UAAAAAAACgJSYAAAAA
			AAAAAAAAAAAAaW9jc19jc3RmbHIAAAAAAAAAAAADAAAAAAAAAAAA
			AAAAAAAAaW9jc19ydHJpZ2dlcgAAAAAAAABkAAAAAAAAAAAAAAAA
			AAAAcGVyZi1iaWFzAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAA
			aW9fZXBwX2Jvb3N0AAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAcmlu
			Z19tYmRfbnMAAAAAAAAAAAAQJwAAAAAAAAAAAAAAAAAAcmluZ19y
			YXRpbwAAAAAAAAAAAAAjAAAAAAAAAAAAAAAAAAAAcmF0aW9yYXRl
			bGltaXQAAAAAAADAxi0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			</data>
		</array>
		<key>IOPlatformSystemSleepPolicy</key>
		<data>
		U0xQVAIADgAAAEAAAABAAAAAEAAAABAABwAAAAAAAAAPPQAAAAAAAIQeEgAE
		AAAACBAAAAgAAAAFAAAAAAAAAA89AAAAAAAAAAAEAAAABAAAAAAAAAAAAAUA
		AAAAAAAADz0AAAAAAAAIAAAACAAAAAAAAAAAAAAABgAAAAAAAAAFAQAAAQAA
		AAAAAQAAAAEAAAAAAAAAAAAGAAAAAAAAAAUBAAAAAAAAIAAAACAAAAAAAAAA
		AAAAAAUAAAAAAAAADz0AAAAAAADEFgAAAAAAAAgAAAAIAAAABQAAAAAAAAAP
		PQAAAAAAAMQWEAAAABAAIEAAACBAAAAHAAAACAAAAA89AAAAAAAAxBYAAAAA
		AAAgAAAAIAAAAAUAAAAAAAAADz0AAAAAAADEFgAAAAAAAAiAAAAIgAAABQAA
		AAAAAAAPPQAAAAAAAMQWAAAAAAAAAMAAAADAAAAHAAAACAAAAA89AAAAAAAA
		hB4SAAQAAAAAEAAAAAAAAAcAAAACAAAADz0AAAAAAADEFgAAAAAAAAAAAAAA
		AAAABwAAAAEAAAAPPQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAA89
		AAAAAAAA
		</data>
		<key>NetworkTimerDelay</key>
		<integer>900</integer>
		<key>NotificationWake</key>
		<true/>
		<key>PublishBatteryFactors</key>
		<true/>
		<key>StandbyDelay</key>
		<integer>10800</integer>
		<key>TCPKeepAliveDuringSleep</key>
		<true/>
		<key>TCPKeepAliveExpirationTimeout</key>
		<integer>43200</integer>
		<key>ThermalConfiguration</key>
		<dict>
			<key>Domain</key>
			<dict>
				<key>CPU</key>
				<dict>
					<key>QOSThermalThresholds</key>
					<dict>
						<key>NonFocal</key>
						<integer>150</integer>
						<key>Utility</key>
						<integer>20</integer>
					</dict>
					<key>SFIAppNap</key>
					<dict>
						<key>EffortCurve</key>
						<string>10=0%,20=25%,25=40%,30=75%,130=75%,150=87%</string>
					</dict>
					<key>SFIDarwinBG</key>
					<dict>
						<key>EffortCurve</key>
						<string>1=0%,10=25%,15=40%,20=75%,130=75%,150=87%</string>
					</dict>
					<key>SFIMaintenance</key>
					<dict>
						<key>EffortCurve</key>
						<string>1=0%,10=25%,15=40%,20=75%,130=75%,150=87%</string>
					</dict>
					<key>SFIManagedFocal</key>
					<dict>
						<key>EffortCurve</key>
						<string>190=0%,250=25%</string>
					</dict>
					<key>SFIManagedNonFocal</key>
					<dict>
						<key>EffortCurve</key>
						<string>150=0%,200=50%</string>
					</dict>
					<key>SFIUtility</key>
					<dict>
						<key>EffortCurve</key>
						<string>30=0%,40=20%,45=37%,50=50%,130=50%,150=75%</string>
					</dict>
					<key>SFIWindow</key>
					<integer>50000</integer>
					<key>SFIWindowHigh</key>
					<integer>25000</integer>
					<key>SFIWindowThreshold</key>
					<integer>150</integer>
					<key>ThermalPressure</key>
					<dict>
						<key>Heavy</key>
						<dict>
							<key>HighThreshold</key>
							<integer>200</integer>
							<key>LowThreshold</key>
							<integer>100</integer>
						</dict>
						<key>Moderate</key>
						<dict>
							<key>HighThreshold</key>
							<integer>125</integer>
							<key>LowThreshold</key>
							<integer>50</integer>
						</dict>
						<key>Nominal</key>
						<dict>
							<key>HighThreshold</key>
							<integer>75</integer>
							<key>LowThreshold</key>
							<integer>0</integer>
						</dict>
						<key>Sleeping</key>
						<dict>
							<key>HighThreshold</key>
							<integer>252</integer>
							<key>LowThreshold</key>
							<integer>225</integer>
						</dict>
						<key>Trapping</key>
						<dict>
							<key>HighThreshold</key>
							<integer>250</integer>
							<key>LowThreshold</key>
							<integer>150</integer>
						</dict>
					</dict>
				</dict>
				<key>GPU</key>
				<dict>
					<key>GPUTier1</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
					<key>GPUTier2</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
					<key>GPUTier3</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%,150=0%,175=50%,200=75%,250=80%,251=87%</string>
					</dict>
					<key>GPUTier4</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
				</dict>
				<key>IO</key>
				<dict>
					<key>IOTier0</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
					<key>IOTier1</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
					<key>IOTier2</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
					<key>IOTier3</key>
					<dict>
						<key>EffortCurve</key>
						<string>0=0%</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>UnifiedSleepSliderPref</key>
		<false/>
		<key>optimized_photobooth</key>
		<true/>
		<key>optimized_screensavers</key>
		<true/>
		<key>optimized_slideshows</key>
		<true/>
		<key>optimized_visualizers</key>
		<true/>
		<key>power_reduced_playback</key>
		<true/>
		<key>thermally_optimized_maps</key>
		<true/>
		<key>thermally_optimized_xcode</key>
		<true/>
	</dict>
	<key>pmspFile</key>
	<integer>10</integer>
</dict>
</plist>
