<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#DropMCFG</key>
		<false/>
		<key>#PatchAPIC</key>
		<false/>
		<key>#ResetAddress</key>
		<string>0x64</string>
		<key>#ResetValue</key>
		<string>0xFE</string>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-3.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
		</array>
		<key>#smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>#DropOEM_DSM</key>
			<dict>
				<key>ATI</key>
				<true/>
				<key>Firewire</key>
				<true/>
				<key>HDA</key>
				<true/>
				<key>HDMI</key>
				<true/>
				<key>IDE</key>
				<true/>
				<key>IntelGFX</key>
				<true/>
				<key>LAN</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>NVidia</key>
				<true/>
				<key>SATA</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>USB</key>
				<true/>
				<key>WIFI</key>
				<true/>
			</dict>
			<key>#Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<true/>
				<key>AddIMEI_80000</key>
				<false/>
				<key>AddMCHC_0008</key>
				<false/>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FIX_ACST_4000000</key>
				<true/>
				<key>FIX_ADP1_800000</key>
				<true/>
				<key>FIX_INTELGFX_100000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_S3D_2000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<true/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixAirport_4000</key>
				<true/>
				<key>FixDarwin_0002</key>
				<true/>
				<key>FixDisplay_0100</key>
				<true/>
				<key>FixFirewire_0800</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<true/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
				<key>FixUSB_1000</key>
				<true/>
			</dict>
			<key>#Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Remove battery device from desktop</string>
					<key>Find</key>
					<data>
					W4IeQkFUMQhfSElEDEHQDAoIX1VJRAEUCF9T
					VEEApAA=
					</data>
					<key>Replace</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Add _SUN property for GIGE</string>
					<key>Find</key>
					<data>
					UFhTWAhfQURSAAhfUFJXEgYC
					</data>
					<key>Replace</key>
					<data>
					UFhTWAhfQURSAAhfU1VOCgQIX1BSVxIGAg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDEF to AZAL</string>
					<key>Find</key>
					<data>
					SERFRg==
					</data>
					<key>Replace</key>
					<data>
					QVpBTA==
					</data>
				</dict>
			</array>
			<key>#Rtc8Allowed</key>
			<false/>
			<key>#SuspendOverride</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>FixHDA</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixUSB</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change ECDV to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUNEVg==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>#C3Latency</key>
			<string>0x03E7</string>
			<key>#DoubleFirstState</key>
			<true/>
			<key>#DropOem</key>
			<true/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>#EnableC6</key>
			<true/>
			<key>#EnableC7</key>
			<false/>
			<key>#MaxMultiplier</key>
			<integer>12</integer>
			<key>#MinMultiplier</key>
			<integer>8</integer>
			<key>#PLimitDict</key>
			<integer>1</integer>
			<key>#PluginType</key>
			<integer>0</integer>
			<key>#UnderVoltStep</key>
			<integer>1</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>##Arguments</key>
		<string>kext-dev-mode=1 rootless=0</string>
		<key>#Arguments</key>
		<string>-v arch=x86_64 slide=0 darkwake=0</string>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>#XMPDetection</key>
		<string>-1</string>
		<key>Arguments</key>
		<string>dart=0 darkwake=8 nv_disable=1 -gux_defer_usb2 kext-dev-mode=1 -disablegfxfirmware -igfxbeta -shikibeta -shikigva</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#HWPEnable</key>
		<true/>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<true/>
		<key>UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#ForceHPET</key>
		<false/>
		<key>#Inject</key>
		<false/>
		<key>#Properties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>#ResetHDA</key>
			<false/>
			<key>Inject</key>
			<string>66</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#SATA</key>
			<string>0x25628086</string>
			<key>#WIFI</key>
			<string>0x431214e4</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxExt4</string>
		<string>CsmVideoDxe</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>#Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>AddArguments</key>
					<string>-v</string>
					<key>Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>M</string>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>MyCustomEntry</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>AddArguments</key>
							<string>-v</string>
							<key>Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
						</dict>
					</array>
					<key>Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>L</string>
					<key>Title</key>
					<string>MyLegacyEntry</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Arguments</key>
					<string>-b</string>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>S</string>
					<key>Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>Title</key>
					<string>MyCustomShell</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
			</array>
		</dict>
		<key>#CustomIcons</key>
		<false/>
		<key>#Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>#Language</key>
		<string>ru:0</string>
		<key>#Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#TextOnly</key>
		<false/>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>2</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Beauty</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#Connectors</key>
		<array/>
		<key>#DualLink</key>
		<integer>0</integer>
		<key>#FBName</key>
		<string>Makakakakala</string>
		<key>#LoadVBios</key>
		<false/>
		<key>#NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>#NvidiaGeneric</key>
		<true/>
		<key>#NvidiaSingle</key>
		<false/>
		<key>#PatchVBios</key>
		<false/>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>
				gAeoAqAF
				</data>
				<key>Replace</key>
				<data>
				gAeoAjgE
				</data>
			</dict>
		</array>
		<key>#VRAM</key>
		<integer>1024</integer>
		<key>#VideoPorts</key>
		<integer>2</integer>
		<key>#display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#ATIConnectorsController</key>
		<string>6000</string>
		<key>#ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>#ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>#BootPatches</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Example</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
		</array>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>msr 0xe2 _xcpm_idle instant reboot</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>10.12-BCM94352-fvco-darkvoid</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BCM94352-5GHz-US-FCC-darkvoid</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BCM94352-Airport-Extreme-skvo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BT4LE-Handoff-Hotspot-lisai9093</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12-BCM94352-0x43b114e4-Info.plist-bpresles</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PHN0cmluZz5wY2kxNGU0LDQzYmE8L3N0cmluZz4=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				PHN0cmluZz5wY2kxNGU0LDQzYjE8L3N0cmluZz4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-CC=#a-Ramalama</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGI2HrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BCM94352-Whitelest-0x4331-iMac14,3-skvo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				TWFjLUM2RUZBNjM5NjJGQzZFQTA=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				TWFjLTI3QURCQjdCNENFRThFNjE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BCM94352-Whitelest-0x4353-MacBoolAir5,2-skvo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				TWFjLUM2RUZBNjM5NjJGQzZFQTA=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				TWFjLTI3QURCQjdCNENFRThFNjE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10-BCM94352-5GHz-US-FCC-dv</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.9-BCM94352-5 GHz</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AVhU
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				AVhY
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.12.dp1, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MdtMO33YdRI=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				Mdv/w5CQkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				weAMBQAQAACJgw==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				weAJBQAQAACJgw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D7aMiIIAAACD+QwPhTIBAA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				D7aMiIIAAACD+QkPhTIBAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AMeDpAAAAAAQAABIi0gISA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AMeDpAAAAAACAABIi0gISA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYnGTYX2dGFBwecMSWP/vg==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYnGTYX2dGFBwecJSWP/vg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hv8PAABIwegMD7cPgeH/Dw==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				hv8PAABIwegJD7cPgeH/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icGB4f8PAABIAdFIgfn/DwAAdzs=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				icGB4f8BAABIAdFIgfn/AQAAdzs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYHF/w8AAEnB7QxJiwQkSA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYHF/w8AAEnB7QlJiwQkSA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAAQAABJKfQ=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAACAABJKfQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AABJiY4iAQAAugAQAABIKQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AABJiY4iAQAAugACAABIKQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yAAAAEkp17gAEAAATYskJA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				yAAAAEkp17gAAgAATYskJA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				4b+AQBUGTYnWugAQAABFMQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				4b+AQBUGTYnWugACAABFMQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iWTY+EmBxAAQAABJgccA8A==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				iWTY+EmBxAACAABJgccA8A==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Bf8PAABIwegMZvfB/w8PlQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				Bf8PAABIwegJZvfB/w8PlQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				weIIQQ+2wcHgDEQJ0EQJwA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				weIIQQ+2wcHgCUQJ0EQJwA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RYTJD5XAD7bAweAMRAnYRA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				RYTJD5XAD7bAweAJRAnYRA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Make all drives to be internal</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TRIM function for non-Apple SSDs</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QVBQTEUgU1NEAA==
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Skylake APIC fix, discovered by Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				wegQD7bw
				</data>
				<key>Name</key>
				<string>AppleAPIC</string>
				<key>Replace</key>
				<data>
				vhcAAACQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAIcBAAACBAoAAAQAAA==
				</data>
				<key>Name</key>
				<string>ASGFB</string>
				<key>Replace</key>
				<data>
				BAAAAIcBAAACBAoAAAgAAA==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>#BoardSerialNumber</key>
		<string>C0200000000000000</string>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM183.88Z.0151.B00.1708080034</string>
		<key>Board-ID</key>
		<string>Mac-77F17D7DA9285301</string>
		<key>BoardAssetTag</key>
		<string>Base Board Asset Tag#</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02736310QXF5058C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac18,2</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE136</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>FirmwareVendor</key>
		<string>Apple Inc.</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMac18,2</string>
		<key>SerialNumber</key>
		<string>C02VC1JMJ1G5</string>
		<key>SmcRevision</key>
		<string>2.33f9</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>#NvidiaWeb</key>
		<false/>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
